<div class="contact_list">
    <div class="buttons">
        <custom-button class="'add'" name="'Add'"  click-handler="$ctrl.add()"
                       sref="'newContact'"></custom-button>
        <custom-button class="'del'" name="'Delete'" click-handler="$ctrl.remove()"></custom-button>
    </div>
    <ul>
        <contact-item ng-repeat="contact in $ctrl.contacts" contact="contact"
                      set-selected-contact="$ctrl.setSelectedContact(contact)"></contact-item>
    </ul>
</div>